@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');
*{
  font-family: 'Anek Devanagari', sans-serif;
  background-color: rgb(250, 243, 243);
}

.App {
   text-align: center;
   height: 100vh; 
 
}


